/* Variables */
:root{
	--basic-white: #FFFFFF;
	--basic-dark: #323232;
	--basic-dark-medium: #5A5A5A;
	--basic-light: #F8F7F4;
	--basic-brightblue:#1E90FF;
	--light-blue:rgba(46, 136, 228, 0.52);
	--basic-orange:#E84D37;
	--basic-turquoise-light: #849D8F;
	--basic-neutral-blue:#8996A6;
	--basic-rosy-dark:#9D8B84;
	--basic-rosy-light: #FBDED7;
	--basic-rosy:#F6B5A5;
	--basic-link-hover: #FFBC9E;
	--basic-focus-gray: #EDEDED;
	--basic-shadow-red: rgba(172, 16, 0, 0.64);
	--shadow-text-red:rgba(160, 32, 11, 0.76);
	--shadow-text-dark:rgba(49, 50, 53, 0.5);
	--shadow-gray:#696969;
	--modal-shadow: rgba(0, 0, 0, 0.4);
	--accent-orange: #D07058;
	--button-orange: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--button-focus: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	
	--transparent-white: rgba(255, 255, 255, 0.2);
	--border-gray:rgba(178, 178, 178, 0.52);
	}

/* Fonts */

@font-face{
	font-family:	"Roboto";
	src: local("Roboto"),
	url("../fonts/roboto.woff2") format("woff2"),
	url("../fonts/roboto.woff") format("woff");
	font-weight:400;
	font-style: normal;
}
@font-face{
	font-family: "Roboto";
	src: local("Roboto"),
	url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
	font-weight:500;
	font-style: normal;
}
@font-face{
	font-family: "Roboto";
	src: local("Roboto"),
	url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
	font-weight:700;
	font-style: normal;
}

/* Global */

.page-body{
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: var(--basic-white);
	background: url("../img/bg_backlight-green_slider-1.png");
	background-size: cover;

	min-height: 100%;
	display:grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	}

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden{
 position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn{
	background: var(--button-orange);
	color: var(--basic-white);
	text-decoration: none;
	
	border-radius: 70px;
	box-shadow: 0px 2px 2px var(--basic-shadow-red);
}

.btn:hover{
	background: var(--button-hover);

}

.btn:focus{
	background: var(--button-focus);
}

.btn:active{
	background: var(--button-focus);
	box-shadow: inset 0px 2px 2px var(--basic-shadow-red);
}

.link:hover{
	color: var(--basic-link-hover);
}

/* Container */

.container{
width:1146px;
margin:0 auto;

}
.container-header{
padding-top: 9px;
}

.container-location{
	width:1200px;
	margin: 0 auto;
}

/* Button */

button{
	font:	inherit;
	border:	none;
	outline: none;
}

/* Grid */

.page{
	height: 100%;
}


/* Main header */

 .main-header{
 	display:grid;
 	grid-template-rows: auto auto;
 	grid-row-gap: 20px;
 }
/* Logo */

.header-logo{
	width:154px;
	height:64px;
}

/* Main-navigation */

.main-navigation{ 
	display:grid;
	grid-template-columns: 154px 1fr auto;
}

.site-navigation{
	display:flex;
	flex-wrap: wrap;

	padding:0;
	margin-left: 24px;
}

.site-navigation li{
	padding-left: 32px;
}
.user-navigation {
	display: flex;
	padding: 0;
}

.user-navigation li{
	padding-left: 10px;
}

.navigation-contacts{
 justify-self:end;

}

.navigation-contacts p{
	margin: 0;
	padding: 0;
}

.site-navigation,
.dropdown-list,
.user-navigation{
	list-style:none;
}

.navigation-link{
	line-height: 18px;
	color: var(--basic-white);
}

.user-link:hover,
.navigation-link:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
	border-radius:	26px;
}

.user-link:active,
.navigation-link:active{
	background: var(--basic-focus-gray);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}


.user-link {
	color: var(--basic-white);
	text-decoration: none;
}

.user-link{
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	background: var(--transparent-white);
	border-radius: 20px;
}

.user-link a:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
}

.dropdown-list{
	display:none;
	background: var(--basic-white);

	width:143px;
	height:171px;
	padding:0 6px 0 6px;

	border-radius:4px;
}

.dropdown-link{
	color: var(--basic-dark);

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	text-decoration:none;
}

.dropdown-item{

	padding-left:15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropdown-item:hover{
	background: var(--basic-rosy-light);
}

.dropdown-item:active{
	background: var(--basic-rosy);
}

.dropdown-active{
	font-weight: 700;
}

.dropdown-underline{
	border-bottom: 1px solid var(--border-gray);
}

.navigation-contacts p{
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 8px;
}

.header-phone{
	font-size: 22px;
	line-height: 24px;
	color:inherit;
	text-decoration: none;
}

/* Promotion */

.promotion{
	margin-bottom: 50px;
}

.slider{
	text-align: center;
}

.slider-img p{
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}

.slider-btn{
	font-size: 32px;
	line-height: 44px;
	text-shadow: 0px 2px 5px var(--shadow-text-red);

}

/* Offer */

.offer{
	margin-bottom: 40px;
}

.offer-list{
	display: grid;
	grid-template-columns: 560px 560px;
	grid-column-gap: 26px;

	margin:0;
	padding:0;

	list-style:none;
}

.offer-item{
	display:flex;
	flex-direction: column;
	flex-grow:1;
	min-height: 229px;
	border-radius: 16px;
	padding: 16px 0 0 16px;
}

.offer-item h3{
	font-size: 35px;
	line-height: 41px;

	padding:0;
	margin: 0 auto 16px 0;
}

.offer-item p{
	font-size: 18px;
	
	padding:0;
	margin:0;
}

.btn-offer{
	padding:15px 22px; 
	margin: auto 22px 22px auto;
	
	font-size: 18px;
	line-height: 24px;
}

.offer-item-left{
	background: url(../img/raspberry_background.jpg) no-repeat;
	background-size: cover;
}
	
.offer-item-right{
	background: url("../img/chocolate_background.jpg") no-repeat;
	background-size: cover;
}


/* Hits */

.hits{
	margin-bottom:40px;
		  
}
.hits-list{	 
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	padding: 0;

}
.hits-item:first-child{
	margin-left:0;
}

.hits-item{
	display: flex;
	flex-direction: column;

	margin-left: 26px;
	position: relative;
	width:267px;
}

.hits img{
	border-radius:50%;
}

.hits-title{
	order:3;

	margin:0;

	font-size: inherit;
	font-weight: 500;
	text-align: center;
}

.hits-title a{
	color: var(--basic-white);
	text-decoration: none;

	border-bottom:1px solid var(--transparent-white);
}

.hits-item p{
	position: absolute;
	bottom:58px;

	margin: 0;
	padding:0;

	font-size: 30px;
	line-height: 35px;
	text-shadow: 0px 1px 3px var(--shadow-text-dark);
}

.hits-item span{
	font-size: 45px;
	line-height: 45px;	
}

/* About */

.about{
	display:flex;
	flex-direction: column;

	background: url("../img/pattern.jpg") repeat;
	border-radius:16px;
  
	margin-bottom: 40px;
}

.about-text{
	color: var(--basic-dark);
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;

	margin:24px 0 21px 20px;
}

.about-list{
	display:flex;
	flex-wrap: wrap;

	font-weight: 400;
	color: var(--basic-dark);
	list-style: none;

	padding:0;
	margin: 0;
}

.about-item{
	max-width:482px;

	margin:0 0 33px 26px;
	padding-left: 49px;
  
	font-weight: 400;
}

.about-item p{
	margin:0;
}


/* Blog */

.index-column{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 26px;
	margin-bottom: 40px;
}

.blog{
	display: flex;
	flex-direction: column;
	
	background: url("../img/strawberry_background.jpg") no-repeat  center right;
	background-size: cover;

	border-radius: 16px;
	padding-left: 20px;
}

.blog p{
	font-weight: 500;
	color: var(--basic-dark);

	margin:23px 0 15px 0;
}

.blog-title{
	max-width:287px;
	margin: 0 0 94px 0;

}
.blog-title a{
	color: var(--basic-dark);
	font-size: 24px;
	line-height: 30px;
}

.blog-title a:hover{
	color:var(--basic-orange);
}

/* Mailing */

.mailing{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;

	background: var(--basic-light);
	

	border-radius:16px;
}

.mailing-info{
	color: var(--basic-dark-medium);
	font-weight: 400;
	padding:0;
	margin: 29px 25px 47px 20px;
}

.mailing-form{
	display:flex;
	justify-content: flex-end;

	margin:0 20px 36px 20px;
}

.mailing-form .btn{
	padding:14px 19px;
	margin-left: 10px;

	font-size:18px;
	line-height: 18px;
}

.mailing-input{
	flex:1;
	padding-left: 14px;
}


/* Location */

.container-location{
	position:relative;
}


/* Contacts */

.contacts{
	position: absolute;
	top:62px;
	right:27px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width:303px;
	padding:32px 0 0 20px;

	font-size: 14px;
	line-height: 20px;
	font-weight:400;

	border-radius: 16px;

	color: var(--basic-dark);
	background-color: var(--basic-white);
}

.contacts-adress{
	margin:0 53px 30px 0;

}

.contacts-phone-title{
	margin:0;
}

.contacts b{
	font-size: 18px;
	line-height: 24px;
}

.contacts-phone-title{
	margin-bottom: 30px;
}

.contacts-phone{
	text-decoration: none;
	color: var(--basic-dark);
}

.contacts-phone:hover{
	color: var(--basic-orange);
}

.btn-contacts{
	align-self: center;

	margin-bottom: 31px;
	padding:13px 28px;

	text-shadow: 0px 2px 5px var(--shadow-text-red);
	font-size:18px;
	line-height: 24px;
}

/* Main-footer */

.main-footer{
  display:grid;
  grid-template-columns:auto 1fr auto;
  grid-column-gap: 26px;
}
.social{
	display: flex;
	align-items: center;
}
.social-list{
	display: flex;
	align-items: center;
	font-size: 0;

	margin:0;
	padding:0;

	list-style:none;
}

.social-list li{
margin-right: 12px;
}

.social-btn svg:hover path{
	fill-opacity:1;
}

.social-btn{
	color:inherit;
	text-decoration:none;
}

.supply{
	display: flex;
	justify-content: center;
	align-items: center;
}

.supply-list{
	width:327px;

	display:flex;
	flex-wrap: wrap;

	margin:0;
	padding:0;

	list-style: none;
}

.supply-item{
	flex-basis:50%;
}

.link-special{
	color: var(--basic-white);
	font-size: 13px;
	line-height: 18px;
}

.supply-link{
	color: var(--basic-white);
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
.copyright{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 18px;
}
.copyright img{
	width: 108px;
	height: 39px;
}
.copyright p{
	margin:0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

/* Modal */

.input-style,
.textarea-style{
	font:inherit;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid var(--border-gray);
	border-radius: 6px;
	outline:none;
}

.input-style:hover,
.textarea-style:hover{
	border: 2px solid var(--border-gray);
}
.input-style:focus,
.textarea-style:focus{
	border: 2px solid var(--light-blue);
}

.modal{
	background: var(--basic-light);
	border-radius: 4px;

	margin-left: 50px;
	margin-bottom:50px;

	box-shadow: 0px 20px 20px var(--modal-shadow);
}

/* Modal-login */

.modal-login{
	width:277px;
}

.login-form{
	padding:20px 17px 28px 19px;
}

.login-list{
	list-style:none;
	margin:0;
	padding:0;
}

.login-item{
	display:flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.login-item input{

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	padding:15px 0 15px 15px;
}

.restore{
	display: flex;
	justify-content: space-between;
}

.link-modal-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.link-modal-login a{
	font-size: 13px;
	line-height: 15px;
	font-weight:400;
	color: var(--basic-dark);
}

.link-modal-login a:hover{
	color: var(--basic-orange);
	text-decoration: none;
	border-bottom: 1px solid var(--basic-link-hover);
}
.btn-login{
	padding:15px 26px;

	font-size: 18px;
	line-height: 16px;
}
/* Search */

.modal-search{
	width:341px;
	
}
.search-form{
	padding:15px 20px;
	
}
.search-form input{
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding: 15px 0 15px 15px;
	box-sizing: border-box;
}


/*Modal feedback*/

.modal-feedback{
	max-width: 477px;
	position: relative;
}

.feedback-description{
	margin:20px 0 26px 23px;
	font-size: 24px;
	line-height: 28px;
	color: var(--basic-dark);
}

.feedback-form{
	margin:0 25px;
	display:flex;
	flex-direction: column;
}

.feedback-form p{
	margin:0;
	margin-bottom: 20px;
}

.feedback-form .input-style{
	width:247px;
	font-size: 16px;
	line-height: 20px;
	padding: 16px 0 16px 14px;
}
.feedback-form .textarea-style{
	width:100%;
	max-height: 154px;
	box-sizing: border-box;
	padding: 16px 0 0 14px;
}
.feedback-btn{
	align-self: flex-end;
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0px 2px 5px var(--shadow-text-red);

	padding:13px 24px;
	margin-bottom: 27px;
}

.feedback-close{
	position: absolute;
	top:0;
	right:0;
}


/* Catalog.html */

/* Header-catalog */

.active-link{
	background: var(--accent-orange);
	color:	inherit;
	border-radius:	26px;
	text-decoration: none;
}

.active-link:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
}

.active-link:active{
	background: var(--basic-focus-gray);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}

.basket-active{
	background: var(--basic-white);
	color: var(--basic-dark);
	text-decoration: none;
	border-radius: 26px;
}


/* Main-catalog*/

.main-catalog{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto 1fr;
}

h1{
	margin:0;
	margin-bottom: 29px;
  font-size: 35px;
	line-height: 41px;
}

/* Breadcrumbs*/

.breadcrumbs-list{
	display:flex;
	grid-row:1/-1;

	margin:0;
	padding:0;
	margin-bottom:9px;

	list-style:none;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs-list li{
	margin-right: 22px;
}
.breadcrumbs-list a{
	color:inherit;
}

/* Filters */

.filters{
	margin-bottom: 40px;
}

.filter-form{
	display:flex;
	flex-wrap: wrap;
	width:869px;
	min-height:130px;
	align-items: center; 
	justify-content: space-between;
}

.filter-form fieldset{
	margin-bottom:14px; 
	font-weight: 500;
	line-height: 18px;

	background: var(--transparent-white);

	border-radius:20px;
	border:none;
}
.select-filter{
	background: transparent;
	color:inherit;
	border:none; 
}

.select-filter:hover{
	color: var(--basic-dark);
}

.filter-price{
	width:218px;
	text-align: center;
}

.filter-price input{
padding:0 21px;
}

.filter-radio{
	display: flex;
}

.filter-radio li{
	margin-right: 19px;
}

.filter-radio input{
margin-right: 11px;
}

.filter-checkbox{
	display: flex;
}

.filter-checkbox li{
	margin-right: 22px;
}

.filter-checkbox input{
margin-right: 14px;
}

.filter-form legend{
	font-size:14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-form ul{
	list-style:none;
	margin:0;
	padding: 0;
}

.filter-button{
	font-weight: 500;
	line-height: 18px;
	color:var(--basic-white);
	background: var(--transparent-white);

	border-radius:20px;
	border:2px solid var(--basic-white);
	padding:9px 29px;
}

.filter-button:hover{
	color: var(--basic-dark);
	background: var(--basic-white);
}

.filter-button:active{
	color: var(--basic-dark);
	background: var(--basic-white);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}

/* Filtered */

.filtered{
	margin-bottom:30px; 
}

.filtered-list{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 26px;
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom: 80px;
}

.filtered-item{
	display: flex;
	flex-direction: column;

	position: relative;
	width:267px;

	margin:0 26px 43px 0px;
}

.filtered-item:first-child{
	margin-left: 0;
}

.filtered-item h3{
	order:3;

	text-align: center;
	font:inherit;
	font-weight: 500;

	margin:17px 0 0 0;
}

.filtered-item a{
	color:inherit;
	text-decoration: none;
	border-bottom:1px solid var(--transparent-white);
}

.filtered-item img{
	border-radius: 50%;
}

.filtered-item p{
	position: absolute;
	bottom:48px;

	font-size: 30px;
	line-height: 35px;

}

.filtered-item span{
	font-size: 45px;
	line-height: 45px;
}

/* Pagination */

.pagination {
	display: flex;
	justify-content: flex-end;

	line-height: 18px;
	font-weight: 500;

	list-style: none;
}

.pagination li{
	margin-left: 20px;
	
}

.pagination-link{
	position:relative;
	color:inherit;
	text-decoration: none;
	background: transparent;
}

.pagination-disable{
	color: var(--transparent-white);
}
.pagination-active{
	position: relative;
	color: var(--basic-dark);
}
.pagination-active:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: white;
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}

.pagination-link:hover:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: var(--transparent-white);
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}
.pagination-link:active{
	color: var(--basic-dark);
}
.pagination-link:active:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: var(--basic-white);
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}
