/* Variables */
:root{
	--basic-white: #FFFFFF;
	--black:#000000;
	--basic-dark: #323232;
	--basic-dark-medium: #5A5A5A;
	--grey-extra:rgba(50, 50, 50, 0.2);
	--gray-light:#C4C4C4;
	--basic-light: #F8F7F4;
	--red:#AC1000;
	--basic-brightblue:#1E90FF;
	--light-blue:rgba(46, 136, 228, 0.52);
	--basic-orange:#E84D37;
	--basic-turquoise-light: #849D8F;
	--basic-neutral-blue:#8996A6;
	--basic-rosy-dark:#9D8B84;
	--basic-rosy-light: #FBDED7;
	--basic-rosy:#F6B5A5;
	--basic-link-hover: #FFBC9E;
	--basic-focus-gray: #EDEDED;
	--basic-shadow-red: rgba(172, 16, 0, 0.64);
	--shadow-text-red:rgba(160, 32, 11, 0.76);
	--shadow-text-dark:rgba(49, 50, 53, 0.5);
	--shadow-gray:#696969;
	--box-shadow:rgba(0, 0, 0, 0.2);
	--modal-shadow: rgba(0, 0, 0, 0.4);
	--accent-orange: #D07058;
	--button-orange: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--button-focus: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--backlight:linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	--transparent-white: rgba(255, 255, 255, 0.2);
	--border-gray:rgba(178, 178, 178, 0.52);
	--input-before:rgba(255, 255, 255, 0.8);
	--scale-gray:rgba(248, 247, 244, 0.5);
	}

/* Fonts */

@font-face{
	font-family:	"Roboto";
	src: local("Roboto"),
	url("../fonts/roboto.woff2") format("woff2"),
	url("../fonts/roboto.woff") format("woff");
	font-weight:400;
	font-style: normal;
}
@font-face{
	font-family: "Roboto";
	src: local("Roboto"),
	url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
	font-weight:500;
	font-style: normal;
}
@font-face{
	font-family: "Roboto";
	src: local("Roboto"),
	url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
	font-weight:700;
	font-style: normal;
}

/* Global */

.page-body{
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: var(--basic-white);
	background: var(--basic-turquoise-light);
 	background-repeat: no-repeat;
  background-position: top center;

	min-height: 100%;
	display:grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	}

	.page-catalog{
		background-image:  var(--backlight);
	}
 
 .site-slide-1{
 	background-color: var(--basic-turquoise-light);
	background-image: url("../img/slide-1.png");
 }

  .site-slide-2{
 	background-color: var(--basic-neutral-blue);
	background-image: url("../img/slide-2.png");
 }

  .site-slide-3{
 	background-color: var(--basic-rosy-dark);
	background-image: url("../img/slide-3.png");
 }

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn{
	background: var(--button-orange);
	color: var(--basic-white);
	text-decoration: none;
	text-shadow: 0px 2px 5px var(--shadow-text-red);
	border-radius: 26px;
	box-shadow: 0px 2px 2px var(--basic-shadow-red);
}
.btn:hover{
	background: var(--button-hover);
	box-shadow: 0px 2px 2px var(--red);
}

.btn:focus{
	background: var(--button-focus);
}

.btn:active{
	background: var(--button-focus);
	box-shadow: inset 0px 2px 2px var(--basic-shadow-red);
}

.link:hover{
	color: var(--basic-link-hover);
}

/* Container */

.container{
	width:1146px;
	margin:0 auto;
}

.container-header{
	padding-top: 9px;
}

.container-location{
	width:1200px;
	margin: 0 auto;
}

/* Button */

button{
	font:	inherit;
	border:	none;
	outline: none;
}

/* Grid */

.page{
	height: 100%;
}


/* Main header */

 .main-header{
 	display:grid;
 	grid-template-rows: auto auto;
 	grid-row-gap: 2px;

 }
/* Logo */

.header-logo{
	width:153px;
	height:64px;
}

/* Main-navigation */

.main-navigation{ 
	display:grid;
	grid-template-columns: min-content 1fr min-content;
}

.site-navigation,
.dropdown-list,
.user-navigation{
	list-style:none;
}

.site-navigation{
	display:flex;
	flex-wrap: wrap;
	
	padding:13px 0;
	margin:0 0 0 11px;
}

.site-navigation li{
	margin-right: 7px;
}

.site-navigation li:last-child{
	margin-right: 0;
}

.navigation-link{
	display:block;
	padding:7px 13px;
	line-height: 18px;
	color: var(--basic-white);
	
	text-decoration-color:var(--transparent-white);
	text-underline-position:under;
}

.navigation-link:hover {
	background: var(--basic-white);
	color:	var(--basic-dark);
	text-decoration: none;

	border-radius:26px;
}

.user-navigation {
	display: flex;

	padding:16px 0;
	margin:0;

}

.user-navigation li{
	margin-right: 10px;
}

.user-navigation li:last-child{
	margin-right: 0;
}

.user-link:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
	text-decoration: none;

	border-radius:26px;
}

.user-link:active,
.navigation-link:active{
	background: var(--basic-focus-gray);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}

.user-link{
	color: var(--basic-white);
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

	background: var(--transparent-white);
	border-radius: 20px;
	padding:4px 14px;
}

.user-link a:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
}
.search-link{
	display:flex;
	align-items: center;

	padding: 8px 8px;
	border-radius: 50%;
}

.search-link:hover svg path{
	fill:var(--basic-dark);;
}

.user-search{
	position:relative;
}
.user-search:hover .search-form{
	display:block;
	position: absolute;
	top:40px;
	right:0;
}
.link-user{
	display:inline-flex;
	align-items: center;
	justify-content: center;
}
.link-user span{
	margin-right: 6px;
	
}
.user-login{
	position:relative;
}

.user-login:hover .login-form{
	display: block;
	position:absolute;
	top:40px;
	right:0;
	z-index: 5;
}
.link-user:hover svg path{
	fill:var(--basic-dark);
}

.basket-link{
	display:flex;
	align-items: center;
}

.basket-link span{
	margin-right: 7px;
}

.basket-link:hover svg path{
		fill:var(--basic-dark);
}
.basket-link:hover svg .color-basket{
	fill:none;
}

/* JS-class for basket */

.basket-link-full svg .color-basket{
	fill:var(--basic-orange);
}
/*--------------------*/


.navigation-contacts{
 margin-left: auto;
 display: flex;
 flex-direction: column;
 align-items: flex-end;


}
.navigation-contacts p{
	font-size: 14px;
	line-height: 16px;
	margin:0;
	margin-bottom: 8px;
}

.header-phone{
	font-size: 22px;
	line-height: 24px;
	color:inherit;
	text-decoration: none;
}


.dropdown{
	position: relative;
}
.dropdown:hover .dropdown-list{
	display: block;
	position: absolute;
	top:40px;
	left:4px;
	z-index: 2;
}

.dropdown-list{
	display: none;
	width:147px;
	padding:13px 0;
	margin: 0;

	box-shadow: 0px 20px 20px var(--modal-shadow);
	background: var(--basic-white);
	border-radius:4px;
}

.dropdown-item{
	width:100%;
	
}

.dropdown-item:last-child{
	margin-bottom: 0;
}

.dropdown-link{
	display: block;
	padding:6px 0 7px 20px;

	color: var(--basic-dark);
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration:none;
}

.dropdown-item:hover{
	background: var(--basic-rosy-light);
}

.dropdown-item:active{
	background: var(--basic-rosy);
}

.dropdown-active{
	font-weight: 700;
	padding-bottom:15px; 
}

.dropdown-underline{
	position:relative;
}

.dropdown-underline::before{
	content: "";
	position:absolute;
	top:36px;
	left:9px;
	width:128px;
	height:1px;
	background: var(--grey-extra);
}

/* Promotion */

.promotion{
	position:relative;
	padding-top: 273px;
	text-align: center;
	margin-bottom: 41px;
	
}

.slider-list{
	margin: 0;
	padding:0;
	list-style:none;
}
.slide{
	display:none;
}
.slide-current{
	display:block;
}

.slider-item h3{
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	width:673px;
	margin:0 auto;
	margin-bottom: 28px;
}

.slider-button{
	display: inline-block;
margin-right: 16px;
	font-size: 32px;
	line-height: 44px;
	letter-spacing:0.05em;
	text-shadow: 0px 2px 5px var(--shadow-text-red);

	padding:9px 23px;
	border-radius: 70px;
}

.slider-controls{
	position: absolute;
	bottom:21px;
	left:0;
	z-index: 3;
	display:flex;
	width:79px;
	justify-content: space-between;
}

.slider-controls button{

	padding:0;
	width:21px;
	height: 21px;
	
	background: transparent;
	border:2px solid var(--basic-white);
	border-radius:50%;
	cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

/* Offer */

.offer{
	margin-bottom: 40px;
}

.offer-list{
	display: grid;
	grid-template-columns: 560px 560px;
	grid-column-gap: 26px;

	margin:0;
	padding:0;

	list-style:none;
}

.offer-item{
	box-sizing: border-box;
	min-height: 230px;
	border-radius: 16px;
	padding: 16px 22px 22px 16px;
}

.offer-item h3{
	font-size: 35px;
	line-height: 41px;


	padding:0;
	margin:0;
	margin-bottom: 16px;
}

.offer-item p{
	font-size: 18px;
	
	padding:0;
	margin:0;
	margin-bottom: 54px;
}

.btn-offer{
	display:block;
text-align: right;
}

.btn-offer a{
	font-size: 18px;
	line-height: 24px;
	padding:12px 23px;
}

.offer-item-left{
	background: url(../img/raspberry_background.jpg) no-repeat;
	background-size: cover;
}
	
.offer-item-right{
	background: url("../img/chocolate_background.jpg") no-repeat;
	background-size: cover;
}

/* Hits */

.hits{
	margin-bottom:40px;
		  
}
.hits-list{	 
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;


	list-style: none;
	padding: 0;
	margin:0;
	
}

.hits-item{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 267px;
	padding-top: 0px;
	
	
}



.hover-look{
	display:none;
	position: absolute;
	top:-6px;
	left:-13px;
	padding:0 13px 21px 13px;
	width:267px;
	height: 392px;

	border-radius:4px;
	background:var(--transparent-white);
	box-shadow: 0px 20px 20px var(--box-shadow);
}

.btn-quick-look{
	position: absolute;
	bottom: 21px;
	left:48px;
	padding:12px 16px;
	font-size: 18px;
	line-height: 24px;
}

.hits-item:hover .hover-look{
	display: block;
}

.hits-item::before{
	content: "";
	position: absolute;
	width:61px;
	height:61px;
	background: url("../img/icons/icon_hit.svg")no-repeat 0 0;
	z-index: 3;
}

.hits-item:last-child{
	margin-right:0;
}
.hits img{
width: 267px;
height: 267px;
	border-radius:50%;
	margin-bottom:13px;
	z-index: 2;
}

.hits-title{
	order:3;
	margin:0;

	font-size: inherit;
	font-weight: 500;
	text-align: center;
	z-index: 5;
}

.hits-item p{
	position:absolute;
	bottom:71px;
	left:0px;
	margin: 0;
	padding:0;

	font-size: 30px;
	line-height: 35px;
	text-shadow: 0px 1px 3px var(--shadow-text-dark);
	z-index: 3;
}
.hits-title a{
	color: var(--basic-white);
	text-decoration: none;

	border-bottom:1px solid var(--transparent-white);

}

.hits-item span{
	font-size: 45px;
	line-height: 45px;	
}

/* About */

.about{
	padding:24px 20px 30px;
	background: url("../img/pattern.jpg") repeat;
	border-radius:16px;
  
	margin-bottom: 40px;
}

.about-text{
	color: var(--basic-dark);
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;

	margin:0;
	margin-bottom:17px; 
}

.about-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;

	font-weight: 400;
	color: var(--basic-dark);
	list-style: none;

	padding:0;
	margin: 0;
}

.about-item{
	display: block;
	max-width:485px;

	margin:0;
	margin-bottom: 21px;
	padding-left: 56px;
  position:relative;
	font-weight: 400;
}
.about-item p{
	margin:0;
	position: relative;
}
.about-item p::before{
	content: "";
	position: absolute;
	left:-57px;
	top:-10px;
	width:49px;
	height:49px;
	
}

.icon-ice::before{
	background: url("../img/icons/icon_ice-cream.svg")no-repeat 0 0;
}

.icon-cow::before{
	background: url("../img/icons/icon_cow.svg")no-repeat 0 0;
}
.icon-leaf::before{
background: url("../img/icons/icon_leaf.svg")no-repeat 0 0;
}
.icon-thermometr::before{
	background: url("../img/icons/icon_temperature.svg")no-repeat 0 0;
}

.about-item:nth-child(3),
.about-item:nth-child(4){
	margin-bottom: 0;
}

/* Blog */

.index-column{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 26px;
	margin-bottom: 40px;
}

.blog{
	background: url("../img/strawberry_background.jpg") no-repeat  center right;
	background-size: cover;

	border-radius: 16px;
	padding:19px 255px 89px 20px;
}

.blog p{
	font-weight: 500;
	color: var(--basic-dark);

	margin:0;
	
}

.blog-title{
	margin:0;
}

.blog-title a{
	color: var(--basic-dark);
	font-size: 24px;
	line-height: 30px;
}

.blog-title a:hover{
	color:var(--basic-orange);
}

/* Mailing */

.mailing{
	padding:5px 6px;
	background: url("../img/mail_background.png")no-repeat;
	border-radius: 16px;
}
.mailing-content{
	padding:24px 20px 36px 20px;
	background: var(--basic-light);
	border-radius:16px;

}

.mailing-info{
	color: var(--basic-dark-medium);
	font-weight: 400;
	padding:0;
	margin:0;
	margin-bottom: 40px;
}

.mailing-form{
	display:flex;
	justify-content: flex-start;

	margin:0;
}

.mailing-form .btn{
	padding:10px 19px;
	
	font-size:18px;
	line-height: 24px;
}

.mailing-input{
	flex:1;

	padding-top:5px;
	padding-left:14px;
	margin-right: 10px;

}

/* Location */

.container-location{
	position:relative;
}
.container-location::after{
	content: "";
	position: absolute;
	width:80px;
	height: 140px;
	top:136px;
	left:266px;
	background: url("../img/icons/icon_pin.svg")no-repeat 0 0;

}

/* Contacts */

.contacts{
	position: absolute;
	top:61px;
	right:27px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width:303px;
	padding:30px 25px 31px 25px;
	
	font-size: 14px;
	line-height: 20px;
	font-weight:400;
	box-sizing: border-box;
	border-radius: 16px;

	color: var(--basic-dark);
	background-color: var(--basic-white);
}

.contacts-adress{
	margin:0 0 20px 0;

}

.contacts-phone-title{
	margin:0;

}

.contacts b{
	font-size: 18px;
	line-height: 24px;
}

.contacts-phone-title{
	margin-bottom: 28px;
}

.contacts-phone{
	text-decoration: none;
	color: var(--basic-dark);
}

.contacts-phone:hover{
	color: var(--basic-orange);
}

.btn-contacts{
	align-self: center;

	padding:9px 29px;

	text-shadow: 0px 2px 5px var(--shadow-text-red);
	font-size:18px;
	line-height: 24px;
}

/* Main-footer */

.main-footer{

  display:grid;
  grid-template-columns:auto 1fr auto;
  padding:11px 0px;
}
.social{
	display: flex;
	align-items: center;
}
.social-list{
	display: flex;
	align-items: center;
	font-size: 0;

	margin:0;
	padding:0;

	list-style:none;
}

.social-list li{
margin-right: 8px;
}

.social-btn svg:hover path{
	fill-opacity:1;
}

.social-btn{
	color:inherit;
	text-decoration:none;
}

.supply{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.supply-list{	
	display:flex;
	flex-wrap: wrap;

	width:327px;
	margin:0;
	padding:0 0 10px 36px;
	list-style: none;
}

.supply-item{
	margin-right: 32px;
}

.supply-item:last-child{
	margin-right: 0;
	padding-left: 15px;
}
.link-special{
	position:relative;
	color: var(--basic-white);
	font-size: 13px;
	line-height: 18px;
}
.link-special::before{
	content: "";
	position:absolute;
	width:15px;
	height: 13px;
	left:-20px;
	top:3px;
	background: url("../img/icons/icon_footer-heart.svg");

}
.supply-link{
	color: var(--basic-white);
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
.copyright{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 18px;
}
.copyright img{
	width: 108px;
	height: 39px;
}
.copyright p{
	margin:0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

/* Modal */

.input-style,
.textarea-style{
	font:inherit;
	font-weight: 400;
	line-height: 24px;
	border: 1px solid var(--border-gray);
	border-radius: 6px;
	outline:none;
}

.input-style:hover,
.textarea-style:hover{
	border: 2px solid var(--border-gray);
}
.input-style:focus,
.textarea-style:focus{
	border: 2px solid var(--light-blue);
}

.modal{
	background: var(--basic-light);
	border-radius: 4px;

	box-shadow: 0px 20px 20px var(--modal-shadow);
}

/* Modal-login */

.login-form{
	display:none;
	width:277px;
	padding:21px 17px 22px 19px;
	box-sizing: border-box;
}

.login-list{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;

}

.login-item{
	display:flex;
	flex-direction: column;
	margin-bottom: 19px;

}

.login-item input{
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
width:241px;
	padding:15px 0 11px 15px;
}

.restore{
	display: flex;
}
.btn-login{
margin-right: 18px;
}

.link-modal-login:first-child{
	margin-bottom: 9px;
}

.link-modal-login a{
	font-size: 13px;
	line-height: 15px;
	font-weight:400;

	color: var(--basic-dark);
}

.link-modal-login a:hover{
	color: var(--basic-orange);
	text-decoration: none;
	border-bottom: 1px solid var(--basic-link-hover);
}
.btn-login{
	padding:14px 26px;

	font-size: 18px;
	line-height: 16px;
}
/* Search */

.search-form{
	display:none;
	width:341px;
	box-sizing: border-box;
	padding:15px 20px;
}
.search-form input{
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding: 15px 0 15px 15px;
	box-sizing: border-box;
}


/*Modal feedback*/

.modal-feedback{
	display: none;
	max-width: 477px;
	position: relative;
	box-sizing: border-box;
	padding:20px 25px;

}

.feedback-description{
	margin:0;
	margin-bottom:26px;

	font-size: 24px;
	line-height: 28px;
	color: var(--basic-dark);
}

.feedback-form p{
	margin:0;
	margin-bottom: 20px;
}

.feedback-form .input-style{
	width:247px;
	font-size: 16px;
	line-height: 20px;

	padding: 16px 0 16px 14px;
}
.feedback-form .textarea-style{
	width:100%;
	max-height: 154px;
	box-sizing: border-box;
	padding: 16px 0 0 14px;
}
.feedback-btn{
	text-align: right;
}
.feedback-btn .btn{
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0px 2px 5px var(--shadow-text-red);

	padding:13px 24px;
}

.feedback-close{
	position: absolute;
	top:15px;
	right:16px;
	width:18px;
	height: 17px;
	background-color:transparent;
	background-image: url('../img/arrows/X-big.svg'); 
}
/* Modal basket*/

.modal-basket{
	display: flex;
	flex-direction: column;
	width: 539px;
	
	color:var(--basic-dark);
	box-sizing: border-box;
	padding:14px 14px 20px 14px;
	z-index: 15;
	
}
.basket-total{
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}
.total{
	align-self: flex-end;
	margin-bottom: 9px;
}

.basket-list{
	list-style:none;
	margin: 0;
	padding:0;
	padding-left: 6px;
	padding-bottom: 10px;
	border-bottom:1px solid var(--gray-light);
	
}
.basket-item{
	display:flex;
	align-items: center;

	padding: 0;
}

.delete-item{
	background-color:transparent;
	background-image: url(../img/icons/icon_X.svg);
	
	width:11px;
	height: 11px;
	margin-right: 9px;
}
.basket-item img{
	width:33px;
	height: 33px;
	margin-right: 13px;
}

.basket-item h3{
	width:216px;
	margin-right: 31px;
}
.basket-item h3,
.price{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
.count{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color:var(--black);
	margin-right: 26px;
}
.count span{
color: var(--gray-light);
}

.btn-basket{
	font-size: 18px;
	line-height: 18px;
	font-weight: inherit;
	padding:13px 15px;
}
/* Catalog.html */

/* Header-catalog */

.active-link{
	padding:7px 14px;
	background: var(--accent-orange);
	color:	inherit;
	border-radius:	26px;
	text-decoration: none;
}
.active-link-dropdown{
	background: var(--accent-orange);
	color:	inherit;

	text-decoration: none;
}
.active-link:hover{
	background: var(--basic-white);
	color:	var(--basic-dark);
}

.active-link:active{
	background: var(--basic-focus-gray);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}

.basket-active{

	padding:4px 10px 3px 14px;
	background: var(--basic-white);
	color: var(--basic-dark);
	text-decoration: none;
	border-radius: 26px;
}
.basket-active span{
	margin-right: 6px;
}
.basket-active svg path{
	fill:var(--basic-dark);
}

.basket-link-full svg .color-basket{
	fill:var(--basic-orange);
}

.basket-catalog{
	position:relative;
}
.modal-basket{
	display:none ;
	position:absolute;
	right:0;
	top:36px;
}
.basket-catalog:hover .modal-basket{
	display: block;
}

/* Main-catalog*/

.main-catalog{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repear(4,min-content);
	position: relative;


}

h1{
	margin:0;
	margin-bottom: 43px;
  font-size: 35px;
	line-height: 27px;
	
}

/* Breadcrumbs*/

.breadcrumbs-list{
	position:absolute;
	top:-24px;
	left:1px;
	display:flex;
	
	margin:0;
	padding:0;
	margin-bottom:9px;

	list-style:none;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs-list li{
	position:relative;
	margin-right: 22px;
}
.breadcrumbs-list li::after{
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	bottom:3px;
	right:-15px;
	background: url("../img/arrows/breadcrumbs_arrow.svg");
}
.breadcrumbs-current::after{
	display: none;
}
.breadcrumbs-list li:last-child{
	margin-right: 0;
}
.breadcrumbs-list a{
	color:inherit;
}

/* Filters */

.filters{
	margin-bottom: 4px;
	padding:14px 0 0 0;
	
	
}

.filter-form{
	display:flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
	margin:0;
	padding:0;
}

.filter-form fieldset{
	margin-right: 14px;
	margin-bottom:37px;
	font-weight: 500;
	line-height: 18px;
	background: var(--transparent-white);

	border-radius:20px;
	border:none;
	position: relative;
}


.filter-form legend{
	position: absolute;
	top:-22px;
	left:14px;
	font-size:14px;
	line-height: 16px;
	font-weight: 500;
}

.select-filter{
	padding-top: 2px;
	width: 171px;
	box-sizing: border-box;
	background: transparent;
	line-height: 18px;
	font-weight: 500;
	color:inherit;

	border:none;
	outline: none; 
	appearance: none;
	position: relative;

}
.select-wrapper-arrow::after{
	content: "";
	position: absolute;
	top:15px;
	right:15px;
	width: 11px;
	height: 10px;
	background: url("../img/arrows/filter_arrow-triangle.svg");
	z-index: 2;
}

.select-filter:hover{
	color: var(--basic-dark);

}
/* Filter-price */
.filter-price{
	background: none;
	padding:0;
	margin: 0;
	width:218px;
}

.range-filter{
	margin:0;
	padding:0;
}
.range-controls{
	position: relative;
	height: 35px;
	background: var(--transparent-white);
	border-radius:20px;
	padding-left: 21px;
	padding-right: 21px;
	padding-top: 18px;
	box-sizing: border-box;
}

.range-controls .scale{
	width:176px;
	height: 2px;
	background: var(--scale-gray);
	z-index: 10;
}

.range-controls .bar {
  width: 106px;
  height: 2px;
  background: var(--basic-light);
  margin-left: 24px;
}

.range-controls .toggle{
	padding-top: 9px;
	position: absolute;
	top:7px;
	width:4px;
	height: 4px;
	padding:0;
	border:8px solid var(--basic-white);
	background: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--gray-light);
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
 left: 133px;
}

/* Filter-fat */

.filter-fat{
	width: 425px;
	padding:9px 0px;
}

.filter-radio{
	display: flex;
	
	margin: 0;
	padding: 0;
}

.filter-radio-item{
	padding-left: 45px;
	margin-right: 7px;
}

.filter-radio-item:last-child{
	margin-right: 0;
}

.filter-radio-item label{
	display: block;
	position:relative;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	user-select: none;
}

.filter-input-radio+label::before{
	content: "";
	position:absolute;
	top:-3px;
	left:-33px;
	width:15px;
	height: 15px;
	border:4px solid var(--basic-white);
	border-radius: 50%;
	background-color: transparent;
	opacity: 0.8;
	cursor: pointer;
}
.filter-input-radio:checked+label::after{
	content: "";
	position:absolute;
	top:5px;
	left:-25px;
	width:7px;
	height:7px;
	border-radius: 50%;
	background-color: var(--basic-white);
	opacity: 0.8;
	cursor: pointer;
}
.filter-input-radio:hover+label::after, 
.filter-input-radio:hover+label::before{
opacity: 1;
}
.filter-input-radio:disabled+label::after, 
.filter-input-radio:disabled+label::before{
	opacity: 0.3;
}

/* Filter-filler */

.filter-form .filter-filler{
	width:711px;
	padding:9px 0;
	margin-right: 11px;
}

.filter-checkbox{
	display: flex;

	margin: 0;
	padding: 0;
}

.filter-checkbox-item{
	padding-left: 45px;
	margin-right: 10px;
}

.filter-checkbox-item:last-child{
	margin-right: 0;
}

.filter-checkbox-item label{
	display: block;
	position:relative;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	user-select: none;
}

.filter-input-checkbox+label::before{
	content: "";
	position:absolute;
	top:0px;
	left:-29px;
	width:20px;
	height: 20px;
	background:url(../img/icons/checkbox.svg)no-repeat;
	opacity: .8;
}

.filter-input-checkbox:checked+label::before{
	content: "";
	position:absolute;
	top:0px;
	left:-29px;
	width:29px;
	height:29px;
	background: url("../img/icons/checkbox_on.svg")no-repeat;
} 
.filter-input-checkbox:hover+label::before{
	opacity: 1;
} 
.filter-input-checkbox:disabled+label::before{
	opacity: 0.3;
}

.filter-form ul{
	list-style:none;
	margin:0;
	padding: 0;
}

.filter-button{
	font-weight: 500;
	line-height: 18px;
	color:var(--basic-white);
	background: var(--transparent-white);

	border-radius:20px;
	border:2px solid var(--basic-white);
	padding:8px 29px;
}

.filter-button:hover{
	color: var(--basic-dark);
	background: var(--basic-white);
}

.filter-button:active{
	color: var(--basic-dark);
	background: var(--basic-white);
	box-shadow: inset 0px 2px 1px var(--shadow-gray);
}

/* Filtered */

.filtered{
	margin-bottom:35px; 
}

.filtered-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;


	list-style: none;
	padding: 0;
	margin:0;
	margin-bottom: 40px;
}

.filtered-item{
	display: flex;
	flex-direction: column;

	position: relative;
	width:267px;
	margin:0;
	margin-bottom: 38px;
	padding:0;
}

.filtered-item:hover .hover-look{
	display: block;
	z-index: 1;

}
.filtered-item:first-child{
	margin-left: 0;
}

.filtered-item img{
	border-radius: 50%;
	margin-bottom: 12px;
}
.filtered-item:hover img{
	z-index: 2;
}

.filtered-item h3{
	order:3;

	text-align: center;
	font:inherit;
	font-weight: 500;

	margin:0;
	z-index: 5;
}

.filtered-item a{
	color:inherit;
	text-decoration: none;
	border-bottom:1px solid var(--transparent-white);

}

.filtered-item p{
	position: absolute;
	bottom:71px;
	margin: 0;
	font-size: 30px;
z-index: 4;
}

.filtered-item span{
	font-size: 45px;
	line-height: 45px;
	margin: 0;
}

/* Pagination */

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	line-height: 18px;
	font-weight: 500;

	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 18px
}

.pagination-link{

	display:block;
	color:inherit;
	text-decoration: none;
	background: transparent;

	padding:4px 8px;
	border-radius:50%;
}
.pagination-link:hover,
.pagination-link:focus{
  background-color: var(--transparent-white);
  cursor: pointer;
}

.pagination-link:active {
	background-color: var(--basic-white);
	color:var(--basic-dark);
	 cursor: pointer;
}
.pagination li{
	margin-right: 5px;
}
.pagination li:last-child {
  margin-right: 0px;
}
.pagination-arrow-left{
	position: relative;
}
.pagination-arrow-left::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top:5px;
	left:-24px;
	background: url(../img/arrows/pagination-left-small.svg)no-repeat center;
}
.pagination-arrow-right{
	position: relative;
}
.pagination-arrow-right::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top:3px;
	left:6px;
	background: url("../img/arrows/pagination-right-small.svg")no-repeat center;
}
.pagination-current{
background-color: var(--basic-white);
color:var(--basic-dark);
}

/*
.pagination li{
	margin-left: 20px;
}

.pagination-link{
	position:relative;
	color:inherit;
	text-decoration: none;
	background: transparent;
}

.pagination-disable{
	color: var(--transparent-white);
}
.pagination-active{
	position: relative;
	color: var(--basic-dark);
}
.pagination-active:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: white;
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}

.pagination-link:hover:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: var(--transparent-white);
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}
.pagination-link:active{
	color: var(--basic-dark);
}
.pagination-link:active:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;

	background: var(--basic-white);
	border-radius: 50%;

	top:-3px;
	left:-8px;
	z-index: -1;
}
*/